#learn
{
	background-color: #123456;
	border-color: #FFFFFF;
}

#heading, #header{
	color: #FFFFFF;
}

.jumbotron{
	background-image: url("../../images/wallpaper.jpg");
}

.btn-default, .btn, .btn-success{
	background-color: #123456;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

#avatar{
	border-radius: 1000px;
}

#cover{
	height: auto;
	width: 360px;
	border-color:#000000;
	border-width: 4px;
	border-style: double;
}